@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
  font-family: Roboto, sans-serif;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.flexbox {
  background: linear-gradient(155deg, #f88e36, #b98a09, #401a00);
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  height: 420px;
  margin: 50px 20px;
  position: relative;
  transition: height 0.25s;
}

.content.high {
  height: 450px;
}

.box {
  background: white;
  width: calc(100% - 50px);
  height: 100%;
  padding: 0 25px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  box-shadow: 0 3px 10px #1a1a1a;
  transition: transform 0.5s;
}

.box#login.show {
  z-index: 1;
  transform: rotateY(0deg);
}

.box#login.hide {
  z-index: 0;
  transform: rotateY(180deg);
}

.box#register.show {
  z-index: 1;
  transform: rotateY(0deg);
}

.box#register.hide {
  z-index: 0;
  transform: rotateY(180deg);
}

.field:first-child {
  padding-top: 20px;
}

.field {
  margin: 0 10px;
  margin-bottom: 20px;
}

.field > input {
  font-size: 16px;
  background: #e2e2e2;
  width: 100%;
  height: 35px;
  padding: 0 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
  border-radius: 5px;
}

.sign-in {
  font-size: 24px;
  line-height: 20px;
  padding: 10px 0 15px;
}

.sign-in > small {
  color: #a2a2a2;
  font-weight: normal;
  font-size: 16px;
}

.btn-sign-in {
  color: white;
  font-size: 16px;
  background: #e98b10;
  width: 100%;
  height: 35px;
  border: none;
  margin: 10px 0 20px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  text-shadow: 0 -1px #00506b;
}

.btn-sign-in:active {
  background: #ddba20;
}

.trouble {
  color: #f59d2a;
  text-decoration: none;
}

.trouble:hover {
  text-decoration: underline;
}

@media (min-width: 480px) {
  .content {
    width: 400px;
  }
}
